{% extends "base.html" %}
{% load static %}

{% block main %}
  <div class="flex flex-col w-full">
    <div class="flex xl:flex-row flex-col w-full">
      <img class="xl:w-3/6 w-full h-full" src="{% static 'images/7.jpg' %}">
      <div class="flex flex-col xl:w-3/6 w-full bg-gray-700 items-center justify-center md:my-0 py-10">
        <h2 class="text-6xl">Our Story</h2>
        <div class="w-5/6 mt-10">
          {% for item in home %}
            <p class="text-2xl">{{item.our_story}}</p>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="bg-no-repeat" style="background-image: url('{% static 'images/thumbnail-3-header.jpg' %}');">
      <div class="flex flex-col xl:w-full w-5/6 xl:m-0 m-auto 2xl:py-40 xl:py-20 py-10 items-center">
        {% for item in home %}
          <h2 class="text-6xl">{{item.our_slogan_title}}</h2>
          <div class="flex xl:flex-row flex-col w-full xl:mt-20 mt-10 gap-10 container">
            <div class="flex flex-col xl:w-3/6 w-full items-center">
              <h3 class="xl:text-4xl text-3xl">{{item.our_slogan_title_left}}</h3>
              <p class="xl:text-2xl text-lg mt-10 leading-loose text-gray-400">{{item.our_slogan_left}}</p>
            </div>
            <div class="flex flex-col xl:w-3/6 w-full items-center">
              <h3 class="xl:text-4xl text-3xl">{{item.our_slogan_title_right}}</h3>
              <p class="xl:text-2xl text-lg mt-10 leading-loose text-gray-400">{{item.our_slogan_right}}</p>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
    <div class="flex w-full p-24 bg-neutral-800">
      <div class="flex xl:flex-row flex-col container m-auto">
        <div class="xl:w-3/6 w-full">
          <p class="text-xl text-gray-400 leading-loose">Lorem ipsum odor amet, consectetuer adipiscing elit. Consectetur odio  maximus lectus nisl, accumsan turpis suscipit turpis orci. Tempor justo  taciti aptent varius hac vulputate. Sit quam ac penatibus montes finibus  efficitur convallis parturient habitant. Mollis orci turpis nibh  fringilla ullamcorper sem etiam. Phasellus proin nec tincidunt curae  maximus.</p>
          <p class="text-xl text-gray-400 leading-loose mt-10">Lorem ipsum odor amet, consectetuer adipiscing elit. Consectetur odio  maximus lectus nisl, accumsan turpis suscipit turpis orci. Tempor justo  taciti aptent varius hac vulputate. Sit quam ac penatibus montes finibus  efficitur convallis parturient habitant. Mollis orci turpis nibh  fringilla ullamcorper sem etiam. Phasellus proin nec tincidunt curae  maximus.</p>
          <p class="text-xl text-gray-400 leading-loose mt-10">Lorem ipsum odor amet, consectetuer adipiscing elit. Consectetur odio  maximus lectus nisl, accumsan turpis suscipit turpis orci. Tempor justo  taciti aptent varius hac vulputate. Sit quam ac penatibus montes finibus  efficitur convallis parturient habitant. Mollis orci turpis nibh  fringilla ullamcorper sem etiam. Phasellus proin nec tincidunt curae  maximus.</p>
        </div>
        <div class="grid xl:grid-cols-2 xl:grid-rows-2 grid-cols-1 xl:w-3/6 w-full xl:mt-0 mt-10">
          <div class="flex flex-col w-full justify-center items-center">
            <img src="{% static 'images/mini-1.png' %}" class="w-fit h-fit bg-red-900 p-3 rounded-full">
            <h3 class="mt-5 text-xl">Proin eget ipsum ultrices</h3>
            <p class="text-gray-400 mt-2 w-2/3 text-center">Sed ut perspiciis iste natus error sit voluptatem accusantium doloremque laudantium.</p>
          </div>
          <div class="flex flex-col w-full justify-center items-center xl:mt-0 mt-10">
            <img src="{% static 'images/mini-2.png' %}" class="w-fit h-fit bg-red-900 p-3 rounded-full">
            <h3 class="mt-5 text-xl">Proin eget ipsum ultrices</h3>
            <p class="text-gray-400 mt-2 w-2/3 text-center">Sed ut perspiciis iste natus error sit voluptatem accusantium doloremque laudantium.</p>
          </div>
          <div class="flex flex-col w-full justify-center items-center xl:mt-0 mt-10">
            <img src="{% static 'images/mini-3.png' %}" class="w-fit h-fit bg-red-900 p-3 rounded-full">
            <h3 class="mt-5 text-xl">Proin eget ipsum ultrices</h3>
            <p class="text-gray-400 mt-2 w-2/3 text-center">Sed ut perspiciis iste natus error sit voluptatem accusantium doloremque laudantium.</p>
          </div>
          <div class="flex flex-col w-full justify-center items-center xl:mt-0 mt-10">
            <img src="{% static 'images/mini-4.png' %}" class="w-fit h-fit bg-red-900 p-3 rounded-full">
            <h3 class="mt-5 text-xl">Proin eget ipsum ultrices</h3>
            <p class="text-gray-400 mt-2 w-2/3 text-center">Sed ut perspiciis iste natus error sit voluptatem accusantium doloremque laudantium.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="bg-no-repeat" style="background-image: url('{% static 'images/thumbnail-2-header.jpg' %}');">
      <div class="flex flex-col container m-auto py-10">
        <h3 class="xl:text-5xl text-3xl">Latest News <span class="text-red-600">[ NOTE : This section complated in the News app ]</span></h3>
        <span class="mt-5 text-gray-400 text-xl lg:w-2/6">Cras porttitor imperdiet volutpat nulla malesuada lectus eros ut convallis felis consectetur ut</span>
      </div>
    </div>
    <div class="flex w-full bg-neutral-800">
      <div class="grid xl:grid-cols-4 lg:grid-cols-3 grid-cols-1 container m-auto py-20 gap-10">
        <div class="flex flex-col">
          <h4 class="text-2xl">Integer vitae ligula sed lectus</h4>
          <span class="text-red-600 text-xl mt-2">8.00 - 10.00 | JUN 09,2014</span>
          <img src="{% static 'images/1.jpg' %}" class="flex w-full h-52 overflow-y-hidden object-cover mt-5 shadow-black shadow-md rounded-lg">
          <p class="text-xl text-gray-400 mt-5">
            Pellentesque ut urna eu mauris scele risque auctor volutpat et massa  pers piciis iste natus scele risque auctor volutpat et massa.
            <a class="text-red-600 block hover:underline" href="#">Read more</a>
          </p>
        </div>
        <div class="flex flex-col">
          <h4 class="text-2xl">Integer vitae ligula sed lectus</h4>
          <span class="text-red-600 text-xl mt-2">8.00 - 10.00 | JUN 09,2014</span>
          <img src="{% static 'images/2.jpg' %}" class="flex w-full h-52 overflow-y-hidden object-cover mt-5 shadow-black shadow-md rounded-lg">
          <p class="text-xl text-gray-400 mt-5">
            Pellentesque ut urna eu mauris scele risque auctor volutpat et massa  pers piciis iste natus scele risque auctor volutpat et massa.
            <a class="text-red-600 block hover:underline" href="#">Read more</a>
          </p>
        </div>
        <div class="flex flex-col">
          <h4 class="text-2xl">Integer vitae ligula sed lectus</h4>
          <span class="text-red-600 text-xl mt-2">8.00 - 10.00 | JUN 09,2014</span>
          <img src="{% static 'images/3.jpg' %}" class="flex w-full h-52 overflow-y-hidden object-cover mt-5 shadow-black shadow-md rounded-lg">
          <p class="text-xl text-gray-400 mt-5">
            Pellentesque ut urna eu mauris scele risque auctor volutpat et massa  pers piciis iste natus scele risque auctor volutpat et massa.
            <a class="text-red-600 block hover:underline" href="#">Read more</a>
          </p>
        </div>
        <div class="flex flex-col">
          <h4 class="text-2xl">Integer vitae ligula sed lectus</h4>
          <span class="text-red-600 text-xl mt-2">8.00 - 10.00 | JUN 09,2014</span>
          <img src="{% static 'images/5.jpg' %}" class="flex w-full h-52 overflow-y-hidden object-cover mt-5 shadow-black shadow-md rounded-lg">
          <p class="text-xl text-gray-400 mt-5">
            Pellentesque ut urna eu mauris scele risque auctor volutpat et massa  pers piciis iste natus scele risque auctor volutpat et massa.
            <a class="text-red-600 block hover:underline" href="#">Read more</a>
          </p>
        </div>
      </div>
    </div>
    <div class="bg-no-repeat" style="background-image: url('{% static 'images/thumbnail-5-header.jpg' %}');">
      <div class="flex flex-col container m-auto py-10">
        <h3 class="xl:text-5xl text-3xl">Latest Posts <span class="text-red-600">[ NOTE : This section complated in the Blog app ]</span></h3>
        <span class="mt-5 text-gray-400 text-xl lg:w-2/6">Cras porttitor imperdiet volutpat nulla malesuada lectus eros ut convallis felis consectetur ut</span>
      </div>
    </div>
    <div class="flex w-full bg-neutral-800">
      <div class="grid xl:grid-cols-4 lg:grid-cols-3 grid-cols-1 container m-auto py-20 gap-10">
        <div class="flex flex-col">
          <h4 class="text-2xl">Integer vitae ligula sed lectus</h4>
          <span class="text-red-600 text-xl mt-2">8.00 - 10.00 | JUN 09,2014</span>
          <img src="{% static 'images/1.jpg' %}" class="flex w-full h-52 overflow-y-hidden object-cover mt-5 shadow-black shadow-md rounded-lg">
          <p class="text-xl text-gray-400 mt-5">
            Pellentesque ut urna eu mauris scele risque auctor volutpat et massa  pers piciis iste natus scele risque auctor volutpat et massa.
            <a class="text-red-600 block hover:underline" href="#">Read more</a>
          </p>
        </div>
        <div class="flex flex-col">
          <h4 class="text-2xl">Integer vitae ligula sed lectus</h4>
          <span class="text-red-600 text-xl mt-2">8.00 - 10.00 | JUN 09,2014</span>
          <img src="{% static 'images/2.jpg' %}" class="flex w-full h-52 overflow-y-hidden object-cover mt-5 shadow-black shadow-md rounded-lg">
          <p class="text-xl text-gray-400 mt-5">
            Pellentesque ut urna eu mauris scele risque auctor volutpat et massa  pers piciis iste natus scele risque auctor volutpat et massa.
            <a class="text-red-600 block hover:underline" href="#">Read more</a>
          </p>
        </div>
        <div class="flex flex-col">
          <h4 class="text-2xl">Integer vitae ligula sed lectus</h4>
          <span class="text-red-600 text-xl mt-2">8.00 - 10.00 | JUN 09,2014</span>
          <img src="{% static 'images/3.jpg' %}" class="flex w-full h-52 overflow-y-hidden object-cover mt-5 shadow-black shadow-md rounded-lg">
          <p class="text-xl text-gray-400 mt-5">
            Pellentesque ut urna eu mauris scele risque auctor volutpat et massa  pers piciis iste natus scele risque auctor volutpat et massa.
            <a class="text-red-600 block hover:underline" href="#">Read more</a>
          </p>
        </div>
        <div class="flex flex-col">
          <h4 class="text-2xl">Integer vitae ligula sed lectus</h4>
          <span class="text-red-600 text-xl mt-2">8.00 - 10.00 | JUN 09,2014</span>
          <img src="{% static 'images/5.jpg' %}" class="flex w-full h-52 overflow-y-hidden object-cover mt-5 shadow-black shadow-md rounded-lg">
          <p class="text-xl text-gray-400 mt-5">
            Pellentesque ut urna eu mauris scele risque auctor volutpat et massa  pers piciis iste natus scele risque auctor volutpat et massa.
            <a class="text-red-600 block hover:underline" href="#">Read more</a>
          </p>
        </div>
      </div>
    </div>
    <div class="bg-no-repeat" style="background-image: url('{% static 'images/thumbnail-6-header.jpg' %}');">
      <div class="flex flex-col container m-auto py-10">
        <h3 class="xl:text-5xl text-3xl">Meet Our Team <span class="text-red-600">[ NOTE : This section complated in the Personnel app ]</span></h3>
        <span class="mt-5 text-gray-400 text-xl lg:w-2/6">Cras porttitor imperdiet volutpat nulla malesuada lectus eros ut convallis felis consectetur ut</span>
      </div>
    </div>
    <div class="flex w-full bg-neutral-800">
      <div class="grid xl:grid-cols-4 lg:grid-cols-3 grid-cols-1 container m-auto py-20 gap-10">
        <div class="flex flex-col">
          <img src="{% static 'images/person1.jpg' %}" class="flex w-full overflow-y-hidden object-cover shadow-black shadow-md rounded-lg">
          <h4 class='text-2xl mt-5'>Jain Smith</h4>
          <p class="text-xl text-gray-400 mt-5">Curabitur orci massa, convallis id mauris sed, venenatis porttitor</p>
        </div>
        <div class="flex flex-col">
          <img src="{% static 'images/person2.jpg' %}" class="flex w-full overflow-y-hidden object-cover shadow-black shadow-md rounded-lg">
          <h4 class='text-2xl mt-5'>Jain Smith</h4>
          <p class="text-xl text-gray-400 mt-5">Curabitur orci massa, convallis id mauris sed, venenatis porttitor</p>
        </div>
        <div class="flex flex-col">
          <img src="{% static 'images/person3.jpg' %}" class="flex w-full overflow-y-hidden object-cover shadow-black shadow-md rounded-lg">
          <h4 class='text-2xl mt-5'>Jain Smith</h4>
          <p class="text-xl text-gray-400 mt-5">Curabitur orci massa, convallis id mauris sed, venenatis porttitor</p>
        </div>
        <div class="flex flex-col">
          <img src="{% static 'images/person4.jpg' %}" class="flex w-full overflow-y-hidden object-cover shadow-black shadow-md rounded-lg">
          <h4 class='text-2xl mt-5'>Jain Smith</h4>
          <p class="text-xl text-gray-400 mt-5">Curabitur orci massa, convallis id mauris sed, venenatis porttitor</p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
